In [16]:
# loading the .txt file and printing the .txt file
import pandas as pd
file_path = "data.txt"
with open(file_path, "r") as file:
    lines = file.readlines()
        
row_index = 2  
if row_index < len(lines):
            print(lines[row_index])
else:
            print(f"Row {row_index + 1} does not exist in the file.")

15-04-22|00:00:16:637|S|IXN22EKB63500|126|2|1407801633274000101|f1=2|f2=IXN|f4=20|f5=5|f6=2022|f7=635|f8=100|f31=iShares Global Tech ETF|f666=IXN|f677=C|f1663=SQL|f1664=A|f214=3

In [17]:
# Changing the piping into commas so we can read the data better and convert to .csv
input_file_path = "data.txt"
output_file_path = "output2.txt"
try:
    with open(input_file_path, "r") as input_file:
        file_content = input_file.read()
        modified_content = file_content.replace("|", ",")

    with open(output_file_path, "w") as output_file:
        output_file.write(modified_content)
        
    print("Data has been processed and saved to the output file.")

except FileNotFoundError:
    print(f"The file '{input_file_path}' was not found.")
except Exception as e:
    print(f"An error occurred: {str(e)}")

Data has been processed and saved to the output file.

In [18]:
# Converting the .txt file which is not seperated by commas into a .csv file
import csv

input_file_path = "output2.txt"
output_csv_path = "fileRecap2.csv"

try:
    # Open the input text file for reading
    with open(input_file_path, "r") as input_file:
        
        rows = []

        lines = input_file.readlines()

        max_columns = max(len(line.strip().split('|')) for line in lines)

        for line in lines:
            columns = line.strip().split('|')
            if len(columns) < max_columns:
                columns.extend([''] * (max_columns - len(columns)))
            elif len(columns) > max_columns:
                columns = columns[:max_columns]

            rows.append(columns)

    # Creating rows for output .CSV file
    with open(output_csv_path, "w", newline='') as output_csv:
        csv_writer = csv.writer(output_csv)
        csv_writer.writerows(rows)

    print(f"Text file '{input_file_path}' successfully converted to CSV file '{output_csv_path}'.")

except FileNotFoundError:
    print(f"The file '{input_file_path}' was not found.")
except Exception as e:
    print(f"An error occurred: {str(e)}")

Text file 'output2.txt' successfully converted to CSV file 'fileRecap2.csv'.

In [19]:
# Adding a random coloumn name to the data to define coloumns 

column_names=["Courses"]
df = pd.read_csv('fileRecap2.csv', names=column_names)
df

                                                 Courses
0      15-04-22,00:00:08:285,S,IXN22EKB61500,126,2,14...
1      15-04-22,00:00:14:401,S,IXN22BIB63500,126,2,14...
2      15-04-22,00:00:16:637,S,IXN22EKB63500,126,2,14...
3      15-04-22,00:00:23:085,S,IXN22QKB61500,126,2,14...
4      15-04-22,00:00:31:035,S,IXN24AJB64500,126,2,14...
...                                                  ...
78914  15-04-22,23:59:04:332,S,IXN22EKB20000,126,2,14...
78915  15-04-22,23:59:44:640,S,IXN22QKB61000,126,2,14...
78916  15-04-22,23:59:49:329,S,IXN22EKB61000,126,2,14...
78917  15-04-22,23:59:49:451,S,IXN22EKB60500,126,2,14...
78918  15-04-22,23:59:52:460,S,IXN22QKB60500,126,2,14...

[78919 rows x 1 columns]

In [20]:
# Save the dataframe to a CSV file
df.to_csv('fileRecapFinal.csv', index=False)

In [21]:
# Discovered that .CSV contains one column only so need to start splitting combined coloumn into seperate coloumn
# Also need to add coloumn names to data using the .Staticfields.txt and .DynamicFields.txt
csv_file_path = "fileRecapFinal.csv"

try:
    df = pd.read_csv(csv_file_path)
    split_data = df['Courses'].str.split(',', expand=True)
    split_data.columns = ['Date', 'Time', 'Message Type', 'Instrument code', 'Exchange Code', 'Security Type', 'Unknown', 'Bid market', 'Bid price', 'Bid size','Ask market','Ask price','Ask size','Message Type1','Message Type2','Message Type3','Message Type4','Message Type5','Message Type6','Message Type7','Message Type8','Message Type9','Message Type9','Message Type9','Message Type9','Message Type9']
    df = pd.concat([df, split_data], axis=1)
    df.drop(columns=['Courses'], inplace=True)
    print(df)

except FileNotFoundError:
    print(f"The file '{csv_file_path}' was not found.")
except Exception as e:
    print(f"An error occurred: {str(e)}")

           Date          Time Message Type Instrument code Exchange Code  \
0      15-04-22  00:00:08:285            S   IXN22EKB61500           126
1      15-04-22  00:00:14:401            S   IXN22BIB63500           126
2      15-04-22  00:00:16:637            S   IXN22EKB63500           126
3      15-04-22  00:00:23:085            S   IXN22QKB61500           126
4      15-04-22  00:00:31:035            S   IXN24AJB64500           126
...         ...           ...          ...             ...           ...
78914  15-04-22  23:59:04:332            S   IXN22EKB20000           126
78915  15-04-22  23:59:44:640            S   IXN22QKB61000           126
78916  15-04-22  23:59:49:329            S   IXN22EKB61000           126
78917  15-04-22  23:59:49:451            S   IXN22EKB60500           126
78918  15-04-22  23:59:52:460            S   IXN22QKB60500           126

      Security Type              Unknown Bid market Bid price Bid size  ...  \
0                 2  1407801616570000200       f1=2    f2=IXN    f4=20  ...
1                 2  1407801628802000306       f1=2    f2=IXN    f4=18  ...
2                 2  1407801633274000101       f1=2    f2=IXN    f4=20  ...
3                 2  1407801646170000213       f1=2    f2=IXN    f4=20  ...
4                 2  1407801662070000122       f1=2    f2=IXN    f4=19  ...
...             ...                  ...        ...       ...      ...  ...
78914             2  1407974288664000019       f1=2    f2=IXN    f4=20  ...
78915             2  1407974369280000003       f1=2    f2=IXN    f4=20  ...
78916             2  1407974378658000007       f1=2    f2=IXN    f4=20  ...
78917             2  1407974378902000003       f1=2    f2=IXN    f4=20  ...
78918             2  1407974384920000009       f1=2    f2=IXN    f4=20  ...

      Message Type4 Message Type5 Message Type6 Message Type7 Message Type8  \
0            f677=C     f1663=SQL       f1664=A        f214=3          None
1            f677=C     f1663=SQL       f1664=A        f214=3          None
2            f677=C     f1663=SQL       f1664=A        f214=3          None
3            f677=P     f1663=SQL       f1664=A        f214=3          None
4            f677=C     f1663=SQL       f1664=A        f214=3          None
...             ...           ...           ...           ...           ...
78914        f677=C     f1663=SQL       f1664=A        f214=3          None
78915        f677=P     f1663=SQL       f1664=A        f214=3          None
78916        f677=C     f1663=SQL       f1664=A        f214=3          None
78917        f677=C     f1663=SQL       f1664=A        f214=3          None
78918        f677=P     f1663=SQL       f1664=A        f214=3          None

      Message Type9 Message Type9 Message Type9 Message Type9 Message Type9
0              None          None          None          None          None
1              None          None          None          None          None
2              None          None          None          None          None
3              None          None          None          None          None
4              None          None          None          None          None
...             ...           ...           ...           ...           ...
78914          None          None          None          None          None
78915          None          None          None          None          None
78916          None          None          None          None          None
78917          None          None          None          None          None
78918          None          None          None          None          None

[78919 rows x 26 columns]

In [22]:
column_name = 'Message Type'
character_to_remove = 'T'

# Check if the column exists in the DataFrame
if column_name in df.columns:
    # Use boolean indexing to filter rows
    filtered_df = df[~df[column_name].str.contains(character_to_remove)]
    # Display the resulting DataFrame
    print(filtered_df)
else:
    print(f"Column '{column_name}' not found in the DataFrame.")

           Date          Time Message Type Instrument code Exchange Code  \
0      15-04-22  00:00:08:285            S   IXN22EKB61500           126
1      15-04-22  00:00:14:401            S   IXN22BIB63500           126
2      15-04-22  00:00:16:637            S   IXN22EKB63500           126
3      15-04-22  00:00:23:085            S   IXN22QKB61500           126
4      15-04-22  00:00:31:035            S   IXN24AJB64500           126
...         ...           ...          ...             ...           ...
78914  15-04-22  23:59:04:332            S   IXN22EKB20000           126
78915  15-04-22  23:59:44:640            S   IXN22QKB61000           126
78916  15-04-22  23:59:49:329            S   IXN22EKB61000           126
78917  15-04-22  23:59:49:451            S   IXN22EKB60500           126
78918  15-04-22  23:59:52:460            S   IXN22QKB60500           126

      Security Type              Unknown Bid market Bid price Bid size  ...  \
0                 2  1407801616570000200       f1=2    f2=IXN    f4=20  ...
1                 2  1407801628802000306       f1=2    f2=IXN    f4=18  ...
2                 2  1407801633274000101       f1=2    f2=IXN    f4=20  ...
3                 2  1407801646170000213       f1=2    f2=IXN    f4=20  ...
4                 2  1407801662070000122       f1=2    f2=IXN    f4=19  ...
...             ...                  ...        ...       ...      ...  ...
78914             2  1407974288664000019       f1=2    f2=IXN    f4=20  ...
78915             2  1407974369280000003       f1=2    f2=IXN    f4=20  ...
78916             2  1407974378658000007       f1=2    f2=IXN    f4=20  ...
78917             2  1407974378902000003       f1=2    f2=IXN    f4=20  ...
78918             2  1407974384920000009       f1=2    f2=IXN    f4=20  ...

      Message Type4 Message Type5 Message Type6 Message Type7 Message Type8  \
0            f677=C     f1663=SQL       f1664=A        f214=3          None
1            f677=C     f1663=SQL       f1664=A        f214=3          None
2            f677=C     f1663=SQL       f1664=A        f214=3          None
3            f677=P     f1663=SQL       f1664=A        f214=3          None
4            f677=C     f1663=SQL       f1664=A        f214=3          None
...             ...           ...           ...           ...           ...
78914        f677=C     f1663=SQL       f1664=A        f214=3          None
78915        f677=P     f1663=SQL       f1664=A        f214=3          None
78916        f677=C     f1663=SQL       f1664=A        f214=3          None
78917        f677=C     f1663=SQL       f1664=A        f214=3          None
78918        f677=P     f1663=SQL       f1664=A        f214=3          None

      Message Type9 Message Type9 Message Type9 Message Type9 Message Type9
0              None          None          None          None          None
1              None          None          None          None          None
2              None          None          None          None          None
3              None          None          None          None          None
4              None          None          None          None          None
...             ...           ...           ...           ...           ...
78914          None          None          None          None          None
78915          None          None          None          None          None
78916          None          None          None          None          None
78917          None          None          None          None          None
78918          None          None          None          None          None

[78518 rows x 26 columns]

In [23]:
# Removing the characters so that we can seperate the .csv into five files according to the message type. etc, q,s,t,c,r

column_name = 'Message Type'
character_to_remove = 'S'

if column_name in df.columns:
    filtered_df1 =  filtered_df[~ filtered_df[column_name].str.contains(character_to_remove)]
    print(filtered_df1)
else:
    print(f"Column '{column_name}' not found in the DataFrame.")

           Date          Time Message Type Instrument code Exchange Code  \
1984   15-04-22  10:30:00:617            R   IXN23MKB24000           126
1986   15-04-22  10:30:00:636            R   IXN23AKB33000           126
1987   15-04-22  10:30:00:636            R   IXN23AKB25000           126
1990   15-04-22  10:30:00:682            R   IXN23MKB28500           126
1991   15-04-22  10:30:00:740            R   IXN23MKB27500           126
...         ...           ...          ...             ...           ...
78133  15-04-22  23:00:05:541            C   IXN24MJB64500           126
78134  15-04-22  23:00:05:541            C   IXN24MJB65000           126
78135  15-04-22  23:00:05:541            C   IXN24MJB65500           126
78136  15-04-22  23:00:05:541            C   IXN24MJB66000           126
78137  15-04-22  23:00:05:541            C   IXN24MJB66500           126

      Security Type              Unknown Bid market Bid price  Bid size  ...  \
1984              2  1407877201234000845     f21=46   f108=23  f2181=FH  ...
1986              2  1407877201272001243     f21=42   f108=23  f2181=FH  ...
1987              2  1407877201272001277     f21=21   f108=23  f2181=FH  ...
1990              2  1407877201364000020     f21=11   f108=23  f2181=FH  ...
1991              2  1407877201480002898     f21=18   f108=23  f2181=FH  ...
...             ...                  ...        ...       ...       ...  ...
78133             2  1407967211082000502    f108=23  f2181=FH     f16=0  ...
78134             2  1407967211082000503    f108=23  f2181=FH     f16=0  ...
78135             2  1407967211082000504    f108=23  f2181=FH     f16=0  ...
78136             2  1407967211082000505    f108=23  f2181=FH     f16=0  ...
78137             2  1407967211082000506    f108=23  f2181=FH     f16=0  ...

      Message Type4 Message Type5 Message Type6 Message Type7 Message Type8  \
1984           None          None          None          None          None
1986           None          None          None          None          None
1987           None          None          None          None          None
1990           None          None          None          None          None
1991           None          None          None          None          None
...             ...           ...           ...           ...           ...
78133          None          None          None          None          None
78134          None          None          None          None          None
78135          None          None          None          None          None
78136          None          None          None          None          None
78137          None          None          None          None          None

      Message Type9 Message Type9 Message Type9 Message Type9 Message Type9
1984           None          None          None          None          None
1986           None          None          None          None          None
1987           None          None          None          None          None
1990           None          None          None          None          None
1991           None          None          None          None          None
...             ...           ...           ...           ...           ...
78133          None          None          None          None          None
78134          None          None          None          None          None
78135          None          None          None          None          None
78136          None          None          None          None          None
78137          None          None          None          None          None

[73928 rows x 26 columns]

In [24]:
column_name = 'Message Type'
character_to_remove = 'C'

# Check if the column exists in the DataFrame
if column_name in df.columns:
    # Use boolean indexing to filter rows
    filtered_df2 =  filtered_df1[~ filtered_df1[column_name].str.contains(character_to_remove)]
    # Display the resulting DataFrame
    print(filtered_df2)
else:
    print(f"Column '{column_name}' not found in the DataFrame.")

           Date          Time Message Type Instrument code Exchange Code  \
1984   15-04-22  10:30:00:617            R   IXN23MKB24000           126
1986   15-04-22  10:30:00:636            R   IXN23AKB33000           126
1987   15-04-22  10:30:00:636            R   IXN23AKB25000           126
1990   15-04-22  10:30:00:682            R   IXN23MKB28500           126
1991   15-04-22  10:30:00:740            R   IXN23MKB27500           126
...         ...           ...          ...             ...           ...
76360  15-04-22  20:06:57:034            Q   IXN23MKB57000           126
76361  15-04-22  20:06:57:752            Q   IXN22IGB36000           126
76362  15-04-22  20:06:58:411            Q   IXN22FHB29500           126
76363  15-04-22  20:06:58:785            Q   IXN23MKB32500           126
76364  15-04-22  20:06:59:035            Q   IXN22UGB39000           126

      Security Type              Unknown Bid market Bid price  Bid size  ...  \
1984              2  1407877201234000845     f21=46   f108=23  f2181=FH  ...
1986              2  1407877201272001243     f21=42   f108=23  f2181=FH  ...
1987              2  1407877201272001277     f21=21   f108=23  f2181=FH  ...
1990              2  1407877201364000020     f21=11   f108=23  f2181=FH  ...
1991              2  1407877201480002898     f21=18   f108=23  f2181=FH  ...
...             ...                  ...        ...       ...       ...  ...
76360             2  1407946434068000238      f8=14    f12=14  f6=266.9  ...
76361             2  1407946435504000087      f8=55    f12=55    f6=6.9  ...
76362             2  1407946436822000189       f8=5     f12=5   f6=24.6  ...
76363             2  1407946437570000256      f8=36   f4=39.9     f5=10  ...
76364             2  1407946438070000109      f8=55   f4=84.2     f5=13  ...

      Message Type4 Message Type5 Message Type6 Message Type7 Message Type8  \
1984           None          None          None          None          None
1986           None          None          None          None          None
1987           None          None          None          None          None
1990           None          None          None          None          None
1991           None          None          None          None          None
...             ...           ...           ...           ...           ...
76360          None          None          None          None          None
76361          None          None          None          None          None
76362          None          None          None          None          None
76363          None          None          None          None          None
76364          None          None          None          None          None

      Message Type9 Message Type9 Message Type9 Message Type9 Message Type9
1984           None          None          None          None          None
1986           None          None          None          None          None
1987           None          None          None          None          None
1990           None          None          None          None          None
1991           None          None          None          None          None
...             ...           ...           ...           ...           ...
76360          None          None          None          None          None
76361          None          None          None          None          None
76362          None          None          None          None          None
76363          None          None          None          None          None
76364          None          None          None          None          None

[72574 rows x 26 columns]

In [25]:
column_name = 'Message Type'
character_to_remove = 'Q'

if column_name in df.columns:
    filtered_df3 =  filtered_df2[~ filtered_df2[column_name].str.contains(character_to_remove)]
    print(filtered_df3)
else:
    print(f"Column '{column_name}' not found in the DataFrame.")

          Date          Time Message Type Instrument code Exchange Code  \
1984  15-04-22  10:30:00:617            R   IXN23MKB24000           126
1986  15-04-22  10:30:00:636            R   IXN23AKB33000           126
1987  15-04-22  10:30:00:636            R   IXN23AKB25000           126
1990  15-04-22  10:30:00:682            R   IXN23MKB28500           126
1991  15-04-22  10:30:00:740            R   IXN23MKB27500           126
...        ...           ...          ...             ...           ...
2649  15-04-22  10:32:15:455            R   IXN22KIB28500           126
2650  15-04-22  10:32:15:612            R   IXN22KIB41500           126
2651  15-04-22  10:32:15:626            R   IXN22WIB29000           126
2652  15-04-22  10:32:15:753            R   IXN22WIB28000           126
2653  15-04-22  10:32:15:753            R   IXN22WIB32500           126

     Security Type              Unknown Bid market Bid price  Bid size  ...  \
1984             2  1407877201234000845     f21=46   f108=23  f2181=FH  ...
1986             2  1407877201272001243     f21=42   f108=23  f2181=FH  ...
1987             2  1407877201272001277     f21=21   f108=23  f2181=FH  ...
1990             2  1407877201364000020     f21=11   f108=23  f2181=FH  ...
1991             2  1407877201480002898     f21=18   f108=23  f2181=FH  ...
...            ...                  ...        ...       ...       ...  ...
2649             2  1407877470910000789      f21=2   f108=23  f2181=FH  ...
2650             2  1407877471224001275      f21=1   f108=23  f2181=FH  ...
2651             2  1407877471252000958      f21=3   f108=23  f2181=FH  ...
2652             2  1407877471506000297      f21=2   f108=23  f2181=FH  ...
2653             2  1407877471506000329      f21=1   f108=23  f2181=FH  ...

     Message Type4 Message Type5 Message Type6 Message Type7 Message Type8  \
1984          None          None          None          None          None
1986          None          None          None          None          None
1987          None          None          None          None          None
1990          None          None          None          None          None
1991          None          None          None          None          None
...            ...           ...           ...           ...           ...
2649          None          None          None          None          None
2650          None          None          None          None          None
2651          None          None          None          None          None
2652          None          None          None          None          None
2653          None          None          None          None          None

     Message Type9 Message Type9 Message Type9 Message Type9 Message Type9
1984          None          None          None          None          None
1986          None          None          None          None          None
1987          None          None          None          None          None
1990          None          None          None          None          None
1991          None          None          None          None          None
...            ...           ...           ...           ...           ...
2649          None          None          None          None          None
2650          None          None          None          None          None
2651          None          None          None          None          None
2652          None          None          None          None          None
2653          None          None          None          None          None

[667 rows x 26 columns]

In [26]:
column_name = 'Message Type'
character_to_remove = 'Q'

if column_name in df.columns:
    filtered_df4 =  filtered_df3[~ filtered_df3[column_name].str.contains(character_to_remove)]
    print(filtered_df4)
else:
    print(f"Column '{column_name}' not found in the DataFrame.")

          Date          Time Message Type Instrument code Exchange Code  \
1984  15-04-22  10:30:00:617            R   IXN23MKB24000           126
1986  15-04-22  10:30:00:636            R   IXN23AKB33000           126
1987  15-04-22  10:30:00:636            R   IXN23AKB25000           126
1990  15-04-22  10:30:00:682            R   IXN23MKB28500           126
1991  15-04-22  10:30:00:740            R   IXN23MKB27500           126
...        ...           ...          ...             ...           ...
2649  15-04-22  10:32:15:455            R   IXN22KIB28500           126
2650  15-04-22  10:32:15:612            R   IXN22KIB41500           126
2651  15-04-22  10:32:15:626            R   IXN22WIB29000           126
2652  15-04-22  10:32:15:753            R   IXN22WIB28000           126
2653  15-04-22  10:32:15:753            R   IXN22WIB32500           126

     Security Type              Unknown Bid market Bid price  Bid size  ...  \
1984             2  1407877201234000845     f21=46   f108=23  f2181=FH  ...
1986             2  1407877201272001243     f21=42   f108=23  f2181=FH  ...
1987             2  1407877201272001277     f21=21   f108=23  f2181=FH  ...
1990             2  1407877201364000020     f21=11   f108=23  f2181=FH  ...
1991             2  1407877201480002898     f21=18   f108=23  f2181=FH  ...
...            ...                  ...        ...       ...       ...  ...
2649             2  1407877470910000789      f21=2   f108=23  f2181=FH  ...
2650             2  1407877471224001275      f21=1   f108=23  f2181=FH  ...
2651             2  1407877471252000958      f21=3   f108=23  f2181=FH  ...
2652             2  1407877471506000297      f21=2   f108=23  f2181=FH  ...
2653             2  1407877471506000329      f21=1   f108=23  f2181=FH  ...

     Message Type4 Message Type5 Message Type6 Message Type7 Message Type8  \
1984          None          None          None          None          None
1986          None          None          None          None          None
1987          None          None          None          None          None
1990          None          None          None          None          None
1991          None          None          None          None          None
...            ...           ...           ...           ...           ...
2649          None          None          None          None          None
2650          None          None          None          None          None
2651          None          None          None          None          None
2652          None          None          None          None          None
2653          None          None          None          None          None

     Message Type9 Message Type9 Message Type9 Message Type9 Message Type9
1984          None          None          None          None          None
1986          None          None          None          None          None
1987          None          None          None          None          None
1990          None          None          None          None          None
1991          None          None          None          None          None
...            ...           ...           ...           ...           ...
2649          None          None          None          None          None
2650          None          None          None          None          None
2651          None          None          None          None          None
2652          None          None          None          None          None
2653          None          None          None          None          None

[667 rows x 26 columns]

In [27]:
column_name = 'Message Type'
character_to_remove = 'T'

if column_name in df.columns:
    filtered_df5 =  filtered_df4[~ filtered_df4[column_name].str.contains(character_to_remove)]
    print(filtered_df5)
else:
    print(f"Column '{column_name}' not found in the DataFrame.")
filtered_df5.to_csv('fileRecapFinal.csv', index=False)

          Date          Time Message Type Instrument code Exchange Code  \
1984  15-04-22  10:30:00:617            R   IXN23MKB24000           126
1986  15-04-22  10:30:00:636            R   IXN23AKB33000           126
1987  15-04-22  10:30:00:636            R   IXN23AKB25000           126
1990  15-04-22  10:30:00:682            R   IXN23MKB28500           126
1991  15-04-22  10:30:00:740            R   IXN23MKB27500           126
...        ...           ...          ...             ...           ...
2649  15-04-22  10:32:15:455            R   IXN22KIB28500           126
2650  15-04-22  10:32:15:612            R   IXN22KIB41500           126
2651  15-04-22  10:32:15:626            R   IXN22WIB29000           126
2652  15-04-22  10:32:15:753            R   IXN22WIB28000           126
2653  15-04-22  10:32:15:753            R   IXN22WIB32500           126

     Security Type              Unknown Bid market Bid price  Bid size  ...  \
1984             2  1407877201234000845     f21=46   f108=23  f2181=FH  ...
1986             2  1407877201272001243     f21=42   f108=23  f2181=FH  ...
1987             2  1407877201272001277     f21=21   f108=23  f2181=FH  ...
1990             2  1407877201364000020     f21=11   f108=23  f2181=FH  ...
1991             2  1407877201480002898     f21=18   f108=23  f2181=FH  ...
...            ...                  ...        ...       ...       ...  ...
2649             2  1407877470910000789      f21=2   f108=23  f2181=FH  ...
2650             2  1407877471224001275      f21=1   f108=23  f2181=FH  ...
2651             2  1407877471252000958      f21=3   f108=23  f2181=FH  ...
2652             2  1407877471506000297      f21=2   f108=23  f2181=FH  ...
2653             2  1407877471506000329      f21=1   f108=23  f2181=FH  ...

     Message Type4 Message Type5 Message Type6 Message Type7 Message Type8  \
1984          None          None          None          None          None
1986          None          None          None          None          None
1987          None          None          None          None          None
1990          None          None          None          None          None
1991          None          None          None          None          None
...            ...           ...           ...           ...           ...
2649          None          None          None          None          None
2650          None          None          None          None          None
2651          None          None          None          None          None
2652          None          None          None          None          None
2653          None          None          None          None          None

     Message Type9 Message Type9 Message Type9 Message Type9 Message Type9
1984          None          None          None          None          None
1986          None          None          None          None          None
1987          None          None          None          None          None
1990          None          None          None          None          None
1991          None          None          None          None          None
...            ...           ...           ...           ...           ...
2649          None          None          None          None          None
2650          None          None          None          None          None
2651          None          None          None          None          None
2652          None          None          None          None          None
2653          None          None          None          None          None

[667 rows x 26 columns]

In [35]:
import pandas as pd
file_path = "fileRecapFinal.csv"
with open(file_path, "r") as file:
    lines = file.readlines()
        
row_index = 2  
if row_index < len(lines):
            print(lines[row_index])
else:
            print(f"Row {row_index + 1} does not exist in the file.")

15-04-22,10:30:00:636,R,IXN23AKB33000,126,2,1407877201272001243,f21=42,f108=23,f2181=FH,,,,,,,,,,,,,,,,

In [38]:
R = pd.read_csv("fileRecapFinal.csv")
R1=R['Open interest']
R1['Open interest'] = R1['Open interest'].str[4:]
R1

KeyError: 'Open interest'

In [194]:
# Save the dataframe to a CSV file
R.to_csv('Rdata.csv', index=False)